<div>
    <h2>Jogo da velha</h2>

    <div class="principal">
        <a href="#" class="botao">Iniciar</a>
    </div>

    <div>
        <ul>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom kz-border-right"></li>
            <li class="kz-border-bottom"></li>
            <li class="kz-border-right"></li>
            <li class="kz-border-right"></li>
            <li></li>
        </ul>
    </div>

    <div>
        <span>
            <p>Você venceu!!!</p>
            <p>Você perdeu...</p>
            <p>O jogo terminou empatado!</p>
            <br />

            <a href="#" class="botao">Jogar novamente</a>
        </span>
    </div>
</div>